@font-face {
  font-family: "open_sansregular";
  src: url("OpenSans-Regular-webfont.woff") format("woff");
}

.jumbotron {
  padding-top: 6rem;
  background-color: #d1edf1;
}

#projects {
  background-color: #d1edf1;
}

section {
  padding-top: 5rem;
}

#experience {
  padding-bottom: 3rem;
}
